
/* Body and background */
body {
    background: url(https://pre00.deviantart.net/a14b/th/pre/f/2012/241/9/9/my_little_pony_background_vector_by_death_of_all-d5cvubf.png);
  }
  header {
    font-size: 50px;
    text-align: center;
    padding: 20px;
  }
  .characterWrapper {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }
  #gameMessage {
    text-align: center;
    font-size: 10px;
  }
  #choose-enemy-button {
    visibility: hidden;
  }
  #restart-button {
    visibility: hidden;
  }
  #turn-counter {
    font-size: 150%;
  }
  

  /* Character */
  
  .character {
    width: auto;
    margin: 0px 40px 0px 40px;
    cursor: pointer;
    display: inline-block;
  }
  .character img {
    border: 0 none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  .character-name {
    text-align: center;
    line-height: 30px;
    font-size: 20px;
  }
  .character-health {
    text-align: center;
  }
  
  /*      Hugging      */

  .attack {
    text-align: center;
  }
  .action {
    margin: 15px 0px;
  }
  #attack-button{
      visibility: hidden;
  }
  .btn {
      background: orchid;
      color: #DBD2C6;	
  }
  .enemy {
    width:auto;
    margin: 5px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    background-color: purple;
    float: left;
  }

  #attacker {
      padding: 5px;
  }
  .target-enemy {
    background-color: orange;
    color: white;
  }
  
  /* Available Oponents  */

  #available-to-attack-section {
    float: right;
  }
  #available-to-attack-section img {
      height: auto;
  }
  
  /*      Defender       */
  
  #defender-name {
    text-align: center;
  }
  #defender-image {
    padding: 0px 16px;
    margin: 3px 0px;
  }
  #defender-health {
    text-align: center;
  }
  